/*--------------------------------------------------------------
# Index
--------------------------------------------------------------*/

.container {
    max-width: 1080px;
    margin: 0 auto;
    color: $color-text;
    padding: .5rem;
    @include desktop {
        padding: 2rem;
    }
}

.page-title {
    padding-bottom: 1.2rem;
    border-bottom:1px dotted #ffffff;
}

.site-header {
    margin-top: 3rem;
}
.logo {
    text-align: left;
    img {
        width: 400px;
    }
    @include desktop {
        text-align: center;
        img {
            width: 700px;
        }
    }
}

.site-content {
    position: relative;
    @include desktop {
        margin: 4.5rem 175px 1.5rem;
        &::before {
            color: $color-mark;
            font-family: "FontAwesome";
            content: "\f10d";
            font-size: 125px;
            line-height: 125px;
            position: absolute;
            top: 0;
            left: -150px;
        }
        &::after {
            color: $color-mark;
            font-family: "FontAwesome";
            content: "\f10e";
            font-size: 125px;
            line-height: 125px;
            position: absolute;
            top: 0;
            right: -150px;
        }
    }
}

.quotes-block {
    margin: 2rem 0;
    .quote-content {
        p {
            font-size: 1.3rem;
        }
    }
    .quote-title {
        font-size: 1.3rem;
        &::before {
            content: "- ";
        }
    }
    .quotes-btn {
        padding: 10px 15px;
    }
    @include desktop {
        .quote-content {
            p {
                font-size: 2.5rem;
            }
        }
        .quote-title {
            font-size: 1.3rem;
        }
        .quotes-btn {
            padding: 10px 20px;
        }
    }
}

.site-info {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
    .menu {
        ul {
            list-style: none;
            padding: none;
            margin: 0;
            margin-bottom: 1rem;
            li:first-child {
                padding-left: 0;
            }
            li {
                display: inline-block;
                padding-right: 10px;
                padding-left: 10px;
                border-right: 1px solid #fff;
            }
        }
    }
    p {
        margin: 0;
    }
    a {
        color: $color-mark;
    }
    @include desktop {
        justify-content: flex-end;
        p {
            padding-left: 10px;
        }
    }
}

.archive-section {
    h2 {
        font-size: 1.4rem;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            font-size: 1.3rem;
            padding-bottom: 10px;
            padding-right: 10px;
        }
    }
    @include desktop {
        li {
            font-size: 1.2rem;

        }
    }
}

//submit-form
.submit-form {
    h2 {
        font-size: 2rem;
        margin-top: 1rem;
    }
    form {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        input, textarea {
            background: none;
            border: 2px solid $color-mark;
            color: $color-text;
        }
    }
    label {
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    input {
        width: 60%;
    }
    textarea {
        width: 100%;
        height: 100px;
    }
}

.search-form {
    input[type=search] {
        background: none;
        border: 2px solid $color-mark;
        color: $color-text;
        padding: 5px 20px;
        font-size: 1.3rem;
    }
    .search-icon {
        margin: 0;
        border: none;
        padding: 0;
        display: inline;
        padding: .4rem;
    }
}

.archive-items {
    .quote-content{
        p {
            font-size: 1.5rem;
            @include desktop {
                font-size: 2rem;
            }
        }

    }
    .quote-title {
        font-size: 1.3rem;
            &:before {
                content: '- ';
            }
    }
    margin-bottom: 1rem;
    border-bottom: 1px dotted $color-text;
    
}